body {
  background-color: #3AB4F2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #180A0A;
  border-width: 5px;
  width: 5%;
}

img {
  height: 240px
}

h1 {
  color:#180A0A ;
}

h3{
  color: #180A0A;
}

strong{
  color: #180A0A
}
